# Python Basics

In [3]:
# Print the current version of Python that is installed
# Shift + Enter - Runs the code
# ctrl + / - comments out the lines that are selected
# Python files ends with an extension .py
# python Notebook ends with .ipynb extension 
# (Because it incorporates markdown and code execution)
import sys
sys.version

'3.7.3 (default, Mar 27 2019, 22:11:17) \n[GCC 7.3.0]'

In [4]:
2+2

4

In [5]:
67*3

201

In [9]:
100**10 # ** -> power

100000000000000000000

In [10]:
4/2 # / will result a floating point value

2.0

In [11]:
7//2 # // will yeild an int result

3

In [12]:
7%2

1

In [13]:
vrsec = "VR siddhartha Engineering College"
vrsec

'VR siddhartha Engineering College'

In [15]:
v1 = 'VR siddhartha Engineering College'
v2 = "VR siddhartha Engineering College"
v2

'VR siddhartha Engineering College'

In [16]:
# How do we input multiple lines to a variable
# ''' ''' Or """ """
v3 = '''
This is fantastic
I can input multiple lines to the variable
I hope this works fine
'''
v3

'\nThis is fantastic\nI can input multiple lines to the variable\nI hope this works fine\n'

In [19]:
print(v3) # Print() function is used to print the string

This is fantastic
I can input multiple lines to the variable
I hope this works fine

In [24]:
# Let's add two numbers
a = 10
b = 20
c = a+b
# the sum of 10 and 20 is 30
print("The sum of ",a," and ",b," is ",c)
# print("The sum of "+a) - This does not work

The sum of  10  and  20  is  30

In [25]:
college = "VRSEC"
print("The best college in vijayawada is "+college) # This works because college is a string

The best college in vijayawada is VRSEC

In [31]:
# input() function helps us to read the input from the user
# input() function reads only string type data
a = int(input()) # int() function converts the input() function read string into an integer
b = int(input())
print(a+b)

23
45
68

# Strings

In [34]:
# Strings are indexable
# String indices starts from 0 and ends at 1 less than the actual size.
a = "pavan"
a[0] # Printing the first character of the string

'p'

In [35]:
a[-1]

'n'

In [36]:
a[-2]

'a'

In [37]:
a[-3]

'v'

In [38]:
a[-4]

'a'

In [39]:
a[-5]

'p'

In [48]:
a[:2] # [0,2)

'pa'

In [50]:
# pavan 
new_name= a[0:2]+a[3:]
new_name

'paan'

In [52]:
v = 'I can\'t re run the program'
v

"I can't re run the program"

In [54]:
v2 = '"This " is awesome'
v2

'"This " is awesome'

In [56]:
'pavan'*10 +'END'

'pavanpavanpavanpavanpavanpavanpavanpavanpavanpavanEND'

In [57]:
'pavan' 'vishal'

'pavanvishal'

In [58]:
f = ('the first string' 'the second string')
f

'the first stringthe second string'

# Lists

In [59]:
# A list is represented with a pair of []
# It can have mutliple types of data
l = [1,2,'name',90.56]
l

[1, 2, 'name', 90.56]

In [60]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [61]:
l1 = [1,2,3]
l2 = [4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [62]:
l1.append(65)
l1

[1, 2, 3, 65]

In [64]:
l2.clear()
l2

[]

In [65]:
len(l1)

4

In [66]:
# Access individual elements of a list based on indices (0->len-1)
l1[3]

65

In [67]:
l1[0]

1

In [78]:
l1.insert(1,34)

In [79]:
l1

[1, 34, 2, 3, 65]

In [82]:
l2 = [1,1,1,3,4,5,5,6,1,7,2]
l2.count(10)

0

In [83]:
l1+l2

[1, 34, 2, 3, 65, 1, 1, 1, 3, 4, 5, 5, 6, 1, 7, 2]

In [84]:
l1.extend(l2)

In [85]:
l1

[1, 34, 2, 3, 65, 1, 1, 1, 3, 4, 5, 5, 6, 1, 7, 2]

In [86]:
l3 = l1.copy()
l3

[1, 34, 2, 3, 65, 1, 1, 1, 3, 4, 5, 5, 6, 1, 7, 2]

In [87]:
l3.index(65)

4

In [88]:
l3.index(1)

0

In [89]:
l3.remove(34)
l3

[1, 2, 3, 65, 1, 1, 1, 3, 4, 5, 5, 6, 1, 7, 2]

In [90]:
l3.remove(1)
l3

[2, 3, 65, 1, 1, 1, 3, 4, 5, 5, 6, 1, 7, 2]

In [97]:
l3=sorted(l3,reverse = True)
l3

[65, 7, 6, 5, 5, 4, 3, 3, 2, 2, 1, 1, 1, 1]

# Loops

Two important loops
- For loop 
- while loop

In [100]:
# We follow indentation (A tab space from the left border) as we dont have codeblocks in 
# Python
s = "python"
for i in s:
    print(i,end = " ")

p y t h o n

In [101]:
# Another iterable -Lists
l = [1,2,3,'pavan',90.324]
for i in l:
    print(i)

1
2
3
pavan
90.324

In [103]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
for i in range(10):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

In [107]:
for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [108]:
# Print all the odd numbers from 1 to 100
for i in range(1,101):
    if(i%2!=0):
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [110]:
for i in range(1,101,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

- Find the factorial of a given number
- Find if the given number is a prime or not

In [111]:
# Find the factorial of a given number
# 5 -> 5*4*3*2*1
num = int(input())
fact = 1
for i in range(1,num+1):
    fact = fact*i
print(fact)

6
720

In [117]:
# Find if the given number is a prime or not
num = int(input())
factors = 0
for i in range(2,(num//2)+1):
    if(num%i == 0):
        factors = factors+1
        # factors+=1 ->  valid line of code
        break
if(factors>0):
    print("Not a Prime Number")
else:
    print("Prime Number")

67
Prime Number

In [121]:
# Print all the prime mumbers with in the given range
# A function has to be created to check if a number is prime or not
# def keyword is used to define a function
# return key word can be used to return values

def checkIfPrime(num):
    factors = 0
    for i in range(2,(num//2)+1):
        if(num%i == 0):
            factors = factors+1
            # factors+=1 ->  valid line of code
            break
    if(factors>0):
        return False
    else:
        return True

lb = int(input('Enter a lower boundary value'))
ub = int(input('Enter a Upper Boundary value'))
for i in range(lb,ub+1):
    if(checkIfPrime(i)):
        print(i,end = " ")
    
#Assignment-1:
#Print all the prime numbers which when reversed are again prime numbers 
# with in any given range.

Enter a lower boundary value2
Enter a Upper Boundary value10
2 3 5 7

In [122]:
t = (1,2,3)
t

(1, 2, 3)

In [123]:
t[0]

1

In [124]:
t[1]

2

In [125]:
t[1] = 90

TypeError: 'tuple' object does not support item assignment

# Dictionaries

In [136]:
d = {"key1":10,"key2":20,"key3":30}
# Modifying the existing value
d['key1'] = 15
# Add a new value
d['key4'] = 40
d

{'key1': 15, 'key2': 20, 'key3': 30, 'key4': 40}

In [137]:
# Get all the keys of a dictionary
d.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [138]:
# Get all the Values from Dictionary
d.values()

dict_values([15, 20, 30, 40])

In [139]:
# Get all the elements such as keys and values
d.items()

dict_items([('key1', 15), ('key2', 20), ('key3', 30), ('key4', 40)])

Frequeny count
- You are given a string find the following
    - the highest frequent Character
    - the second highest frequent Character
    - the kth highest frequent Character
- Assignment - Find the following
    - The least frequent Character
    - The second least frequent Character
    - the Kth least frequent Character

In [157]:
# Highest Frequent Character from a String
s = input('Enter a String to calculate Highest frequent character: ')
d = dict() # This initilizes an empty dictionary
for i in s: # Looping through each character in the string
    d[i] = s.count(i)
max_value = max(d.values())
for i in d.items():
    if(i[1] == max_value):
        print("The Highest Frequent character is ",i[0])

Enter a String to calculate Highest frequent character: problem
The Highest Frequent character is  p
The Highest Frequent character is  r
The Highest Frequent character is  o
The Highest Frequent character is  b
The Highest Frequent character is  l
The Highest Frequent character is  e
The Highest Frequent character is  m

In [171]:
# Second Highest Frequent Character from a String
s = input('Enter a String to calculate Highest frequent character: ')
d = dict() # This initilizes an empty dictionary
for i in s: # Looping through each character in the string
    d[i] = s.count(i)
# convert the existing values into a list
l = list(d.values())
unique_list = [] # For making the list unique
for i in l:
    if i not in unique_list:
        unique_list.append(i)
        
second_max_val = sorted(unique_list,reverse = True)[1] # type() function is used to check the type of a var
for i in d.items():
    if(i[1] == second_max_val):
        print("The second Highest Frequent character is ",i[0])

Enter a String to calculate Highest frequent character: aaabbbccdd8989
The second Highest Frequent character is  c
The second Highest Frequent character is  d
The second Highest Frequent character is  8
The second Highest Frequent character is  9

In [167]:
# in, not in
l = [10,20,30]
10 not in l

False

In [173]:
# K'th Highest Frequent Character from a String
s = input('Enter a String to calculate Highest frequent character: ')
k = int(input('Enter a number'))
d = dict() # This initilizes an empty dictionary
for i in s: # Looping through each character in the string
    d[i] = s.count(i)
# convert the existing values into a list
l = list(d.values())
unique_list = [] # For making the list unique
for i in l:
    if i not in unique_list:
        unique_list.append(i)

l_modified = sorted(unique_list,reverse = True) # type() function is used to check the type of a var
if(k>len(l_modified)):
    print("We regret that we did not find ",k,"'th highest frequent character")
else:
    kth_max_value = l_modified[k-1]
    for i in d.items():
        if(i[1] == second_max_val):
            print("The second Highest Frequent character is ",i[0])

Enter a String to calculate Highest frequent character: aaabbbccdd8998
Enter a number2
The second Highest Frequent character is  c
The second Highest Frequent character is  d
The second Highest Frequent character is  8
The second Highest Frequent character is  9

In [177]:
# While
#while(conditon):
    #statement-1
    #statement-2
    #statement-3
# Print 1-100 numbers using while
num = 1
while(num<=100):
    print(num,end=" ")
    num += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [178]:
while(num>=1):
    print(num,end=" ")
    num -= 1

101 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

- &&,||,!(JAVA) -> and , or , not (PYTHON)

In [181]:
# Program to print the fibonacci sequence
n = int(input('Enter a number'))
first = 0
second = 1
counter = 1
print(first,end = " ")
while(counter<n):
    print(second, end = " ")
    first,second = second, first+second
    counter += 1

Enter a number5
0 1 1 2 3

In [182]:
a = 10
b = 20
a,b = b,a
print(a,b)

20 10

- Read a number from the user and find if the given number is a fibonacci number or not. 
- check if fibonacci or not in the first 250 fibonacci values

In [186]:
n = int(input('Enter a number'))
first = 0
second = 1
counter = 1
flag = True
while(counter<250):
    if(n == first or n == second):
        print("Fibonacci number")
        flag = False
        break
    first,second = second, first+second
    counter += 1
if(flag):
    print("This is not a fibonacci number")

Enter a number56
This is not a fibonacci number

In [187]:
# Sum up all the elements in the list
l = [1,2,3,4,5]
sum(l)

15

In [188]:
s = 0
for i in l:
    s+=i
print(s)

15

In [191]:
# find the difference between first number and second number
# print the absolute value (Positive value)
f = 10
s = 20
# f-s
if(f-s>0):
    print(f-s)
else:
    print((f-s) * -1)

10

In [192]:
abs(f-s)

10